$bg-color:#222;
$main-fontSize:20px;
$box-color:#25282C;
.visual{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5658DD;
    padding: 50px;
    width: 85%;
    margin: 20px auto;
}